
  <section class="favorites-section">
    <div class="container">
    <h1>Favorites</h1>

    <div class="favorites-layout">

      <div class="left-column">




        
   <div class="qquote-card">
      <div class="qoute-wrap">
        <div class="icon-wrap">
          <svg class="quote-icon-run" width="20" height="20">
            <use href="../img/icons.svg#icon-run"></use>
          </svg>
        </div>
        <div class="quote-day-wrap">
          <div class="quote-title">
            <p class="quote-day-title">Quote of the day</p>
            <svg class="" width="20" height="20">
              <use href="../img/icons.svg#icon-quote"></use>
            </svg>
          </div>
          <p class="quote-day js-quote"></p>
          <p class="qoute-author js-author"></p>
        </div>
      </div>
    </div>




        <div class="info-row">
<div class="info-block static-info">
  <img class="info-icon" src="./img/icons/Vector2.svg" alt="Clock Icon" />
  <p class="li"><strong>110 min</strong></p>
  <p class="la">Daily norm of sports</p>
</div>

          <div class="info-image">
 
          </div>
        </div>
      </div>


      <div class="right-column">
        <div class="favorites-scroll-wrapper">
          <div class="favorites-list" id="favoritesList">

          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

