
  <section class="favorites-section">
    <div class="container">
    <h1>Favorites</h1>

    <div class="favorites-layout">
      <!-- Ліва колонка -->
      <div class="left-column">
<div class="quote-block">
  <div class="quote-icon">
    <img src="./img/icons/Group 3.svg" alt="Quote Left" />
  </div>

  <div class="quote-text">
    <h2>Quote of the day</h2>
    <p class="textt">“A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.”</p>
  <p class="author">Tom Brady</p>
  </div>


  <div class="quote-icon">
    <img src="./img/icons/Vector.svg" alt="Quote Right" />
  </div>
</div>




        <div class="info-row">
<div class="info-block static-info">
  <img class="info-icon" src="./img/icons/Vector2.svg" alt="Clock Icon" />
  <p class="li"><strong>110 min</strong></p>
  <p class="la">Daily norm of sports</p>
</div>

          <div class="info-image">
            <img class="imgg" src="./img/icons/women-sportswear-working-out-outdoors (2) 1.jpg" alt="Active people" />
          </div>
        </div>
      </div>

   <!-- Права колонка -->
      <div class="right-column">
        <div class="favorites-scroll-wrapper">
          <div class="favorites-list" id="favoritesList">
            <!-- JS вставить картки -->
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

