<footer class="section footer" id="footer">
    <div class="container dark">
        <header class="section header" id="header">
            <div class="container">
              <a href="./#" class="footer-svg-logo" aria-label="Logo">
                <svg class="logo" width="132" height="24">
                  <use href="./img/icons.svg#icon-logo"></use>
                </svg>
              </a>
              
                      
              <load src="/partials/socials.html" />
              
                    <div class="footer-form">
                        <h2>Transforming  your <span class="footer-span">body</span> shape with us</h2>
                      <form class="subscribe-form" autocomplete="off">
                        <label>
                          Subscribe and learn about new exercises!
                          <input
                            type="email"
                            name="email"
                            required
                            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                            placeholder="Email"
                          />
                        </label>
                        <button type="submit">Send</button>
                      </form>
                    </div>
                  </div>
              
                  <div class="bottom">
                      <p class="bottom-p">Your Energy. All rights reserved.</p>
                    <div class="footer-links-wrapper">
                      <ul class="footer-links">
                        <li><a class="policy" href="#">Privacy Policy /</a></li>
                        <li><a class="policy" href="#">Terms of Service</a></li>
                      </ul>
                      <p class="copyright">&#169; 2023</p>
                    </div>
                  </div>
              
                </div>
              </footer>