<header class="section header" id="header">
  <div class="container">
    <a href="./#" class="logo-link" aria-label="Logo">
      <svg class="logo" width="132" height="24">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <ul class="nav-items">
      <li class="nav-item">
        <a href="/index.html" class="nav-link" aria-label="Section Home">Home</a>
      </li>
      <li class="nav-item">
        <a href="/favorites.html" class="nav-link" aria-label="Section Favorites">Favorites</a>
      </li>
    </ul>

    <load src="/partials/socials.html" />

    <button
      class="mobile-menu-btn"
      id="mobile-menu-btn"
      type="button"
      aria-label="Open mobile menu"
      aria-expanded="false"
    >
      <span class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
  </div>
</header>

<load src="partials/mobile-menu.html" />
