<ul class="nav-list">
  <li class="nav-item">
    <a href="index.html" class="nav-link">Home</a>
  </li>
  <li class="nav-item">
    <a href="favorites.html" class="nav-link">Favorites</a>
  </li>
</ul>

<ul class="soc-items">
  <li class="soc-item">
    <a href="https://www.facebook.com/goITclub/" class="soc-link" aria-label="Facebook" target="_blank">
      <svg class="icon">
        <use href="./img/icons/sprites.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li class="soc-item">
    <a href="https://www.instagram.com/goitclub/ " class="soc-link" aria-label="Instagram" target="_blank">
      <svg class="icon">
        <use href="./img/icons/sprites.svg#instagram"></use>
      </svg>
    </a>
  </li>
  <li class="soc-item">
    <a href="https://www.youtube.com/c/GoIT" class="soc-link" aria-label="Youtube" target="_blank">
      <svg class="icon">
        <use href="./img/icons/sprites.svg#youtube"></use>
      </svg>
    </a>
  </li>
</ul>
