<div class="Fquote" id="quote">
  <div class="Fquote-cards-wrapper" id="quote-cards-wrapper">
    <div class="Fquote-card" id="quote-card">
      <div class="Fqoute-wrap" id="qoute-wrap">
        <div class="Ficon-wrap" id="icon-wrap">
          <svg class="Fquote-icon-run" width="20" height="20">
            <use href="/img/icons.svg#icon-run"></use>
          </svg>
        </div>
        <div class="Fquote-day-wrap" id="quote-day-wrap">
          <div class="Fquote-title" id="quote-title">
            <p class="Fquote-day-title" id="quote-day-title">Quote of the day</p>
            <svg width="20" height="20">
              <use href="/img/icons.svg#icon-quote"></use>
            </svg>
          </div>
          <p class="Fquote-day js-quote" id="quote-day">…тут текст цитати…</p>
          <p class="Fqoute-author js-author" id="qoute-author">— Автор</p>
        </div>
      </div>
    </div>
<div class="Fline">
    <div class="Fquote-news" id="quote-news">
      <div class="Fnews-title-wrap" id="news-title-wrap">
        <svg class="Ficon-news" width="32" height="32">
          <use href="/img/icons.svg#icon-dailynorm"></use>
        </svg>
        <div class="Fnews-title" id="news-title">
          <p class="Fnews-title-time" id="news-title-time">110 min</p>
          <p class="Fnews-title-norm" id="news-title-norm">Daily norm of sports</p>

        </div>
      </div>
    </div>

    <div class="Fquote-img-wrap" id="quote-img-wrap">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/quote/quote-fav-desk@1x.webp,
            /img/quote/quote-fav-desk@2x.webp 2x,
            /img/quote/quote-fav-desk@3x.webp 3x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/quote/quote-fav-tab@1x.webp,
            /img/quote/quote-fav-tab@2x.webp 2x,
            /img/quote/quote-fav-tab@3x.webp 3x
          "
        />
        <img
          class="Fquote-img"
          id="quote-img"
          src="/img/quote/quote-fav-mob@1x.webp"
          srcset="
            /img/quote/quote-fav-mob@2x.webp 2x,
            /img/quote/quote-fav-mob@3x.webp 3x
          "
          alt="quote image"
        />
      </picture>
    </div>
    </div>
  </div>
</div>
