<ul class="soc-items">
  <li class="soc-item">
    <a
      href="https://www.facebook.com/goITclub/"
      class="soc-link"
      aria-label="Facebook"
      target="_blank"
    >
      <svg class="icon">
        <use href="./img/icons.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="soc-item">
    <a
      href="https://www.instagram.com/goitclub/ "
      class="soc-link"
      aria-label="Instagram"
      target="_blank"
    >
      <svg class="icon">
        <use href="./img/icons.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="soc-item">
    <a
      href="https://www.youtube.com/c/GoIT"
      class="soc-link"
      aria-label="Youtube"
      target="_blank"
    >
      <svg class="icon">
        <use href="./img/icons.svg#icon-youtube"></use>
      </svg>
    </a>
  </li>
</ul>
