.section.header {
  padding-bottom: 80px;
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
    padding-top: 24px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-menu-button {
  background-color: transparent;
  border: none;
  padding: 0px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-menu-icon {
  stroke: var(--color-black);
}

.header .nav-items {
  display: none;

  @media screen and (min-width: 768px) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    line-height: 1.5;
    color: var(--color-white);
    width: 265px;
    height: 52px;
    border-radius: 60px;
    background: var(--color-black);
  }
}

.header .nav-items .selected {
  color: var(--color-black);
  border-radius: 30px;
  background: var(--color-white);
  animation: var(--animation);
}

.header .nav-item {
  padding: 6px 12px;
}

.header .soc-items {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
