#scrollTopButton {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  height: 40px;
  width: 40px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  #scrollTopButton {
    height: 100px;
    width: 100px;
  }
}

#scrollTopButton:hover {
  opacity: 0.8;
}

#scrollTopButton:hover svg {
  fill: var(--primary-color);
}
