.soc-items {
  display: flex;
  gap: 12px;
}

.soc-item {
  opacity: 0.8;
  gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid rgba(36, 36, 36, 0.1);
}

.soc-item:hover,
.soc-item:active {
  /* fill: ; */
  background: rgba(36, 36, 36, 0.8);
}

.soc-link .icon {
  fill: var(--color-black);
}

.soc-item:hover .icon,
.soc-item:hover .icon {
  fill: var(--color-white);
}
