.soc-items {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.soc-icon {
  fill: var(--primary-color);
  opacity: 0.8;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(36, 36, 36, 0.1);
}

.soc-icon:hover,
.soc-icon:active {
  fill: var(--color-white);
  background: rgba(36, 36, 36, 0.8);
  transition: all 0.5s ease;
}
